

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: #444444;

}

#navbar {
    

    padding: 8px;
    margin: 0;


    height: 50px;
    width: 150px;

}

#about {
    
    display: flex;
    margin: 0 auto;
    max-width: 1000px;
    padding: 8px;

}

#description {
    width: 50%;
    padding-right: 10px;
    

}

#team {
    width: 50%;

}

#team-image {
    width: 100%;
    border-radius: 10px;

}

h1 {
    text-align: center;
    color: black;
}

h2 {
    text-align: center;
}

h3 {
    margin: 0px;
}

#jobs {
    

    margin: 0 auto;

    max-width: 800px;
    
    border: 1px solid grey;
    font-size:14px;


}

#jobs-table {
    width: 100%;
    padding: 150px;
    border: 1px solid grey;
    border-collapse: collapse;

}

.jobs-header-row th {
    border: 1px solid grey;
    padding: 8px;
    text-align: left;
    background-color:#dbeafe;
    
}

.jobs-data-row td {
    border: 1px solid grey;
    padding: 8px;
}
#jobs-table tr:nth-child(odd)
{
    background-color: #eff6ff;
}
#application {
   
   text-align: center;
    padding: 0 8px;

}

#application-form div{
    max-width: 800px;
    margin:0 auto;
    font-weight: 600;
    margin-top: 8px;
}
.form-group {
    margin:16px;
}
.form-group textarea {
    width: 100%;
    font-family:' Roboto',sans-serif;
}
.form-group input[type="checkbox"] {
    width: 16px;
    height:16px;
}
.form-group input[type="submit"] {
  background-color:#0ea5e9;
  color:white;
  cursor: pointer;
}






#application-form input ,select ,textarea {
padding: 8px;
font-size: 18px;
margin-top: 4px;
border-radius: 5px;
border: 1px solid grey;
}
.icon-image{
    width: 16px;
    height: 16px;
}








#banner {
    width: 100%;
    object-fit: cover;
}

.apply {
    float: right;
}

a {
    text-decoration: none;
    color: #38bdf8;
}
a:hover, a:focus{
color: #60a5fa;
}

#footer {
    background-color:ghostwhite;
    margin-top: 32px;
    padding: 8px;
    text-align: center;

}

#footer-links {

    list-style: none;

}

#footer-links li {
    margin: 0 16px;
    display: inline;
}

.copyright {
    color: grey;
}
